@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --b-family: "PT Sans", Arial, sans-serif;
  --h2: 18px/21px var(--b-family);
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  /* font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px; */
  font: var(--h2);
  color: #000000;
  background: #F2F2F2;
}

.shared-container {
  width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  /* font-weight: 700;
  font-size: 16px;
  line-height: 20px; */
  font: 700 16px/20px var(--b-family);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 0;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.button-blue {
  background: #82B3D3;
}

.button-brown {
  background: #756157;
}

.button-green {
  background: #7DB54F;
}

.button-blue:hover,
.button-blue:focus {
  background: #68A2CA;
  outline: 0;
}

.button-brown:hover,
.button-brown:focus {
  background: #615048;
  outline: 0;
}

.button-green:hover,
.button-green:focus {
  background: #6C9E42;
  outline: 0;
}

.button-reset:hover {
  opacity: 0.4;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-blue:active,
.button-brown:active,
.button-green:active,
.button-reset:active {
  color: #FFFFFF4D;
  outline: 0;
}

.butbutton-blue:disabled,
.butbutton-brown:disabled,
.butbutton-green:disabled {
  background: #E5E5E5;
}

.button-reset:disabled {
  opacity: 0.1;
}

/* header */

.page-header {
  background-color: #FFFFFF;
}

.page-header-top {
  display: flex;
  height: 64px;
}

.nav-navigation-list {
  width: 640px;
  margin-right: 152px;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-controls {
  width: 300px;
  margin-right: auto;
  margin: 0;
}

.navigation-user-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: inline-block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -20px;
  content: "";
  height: 2px;
  width: 100%;
  border-bottom: 2px solid #756257;
  z-index: 1;
}

.navigation-link:hover,
.navigation-link:focus {
  color: rgb(104, 103, 103);
}

.navigation-link:active {
  color: #9c9c9c;
}

.navigation-item:nth-of-type(2) {
  margin-left: 30px;
}

.navigation-user-n-like {
  transform: translate(20px, 11px);
  position: absolute;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 50%;
}

.navigation-user-link-col-1 {
  display: block;
  box-sizing: border-box;
  width: 44px;
  height: 64px;
  background: url("../images/header/search.svg") no-repeat center;
}

.navigation-user-link-col-2 {
  display: block;
  box-sizing: border-box;
  width: 44px;
  height: 64px;
  background: url("../images/header/fovourites.svg") no-repeat center;
  text-decoration: none;
}

.navigation-user-link-col-3 {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 34px;
  background: #756157;
  border-radius: 4px;
}

.navigation-user-link:hover,
.navigation-user-link:focus {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

/* index.html */

.page-header-bottom {

  position: relative;
  background: url("../images/background/welcom-background.jpg") no-repeat;
  padding-top: 51px;
  height: 434px;
}

.page-header-welcome::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57px;
  background: url("../images/bottom-decoration-welcome-banner.svg") no-repeat;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
}

.intro {
  padding-top: 69px;
  padding-bottom: 90px;
  background-color: #FFFFFF;
}

.intro-paragraph {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.intro-advantages {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.external-advantages-list {
  margin: 0;
  padding: 0;
}

.external-advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-container {
  display: flex;
  flex-grow: 1;
}

.advantage {
  box-sizing: border-box;
  min-height: 384px;
  width: 33.333%;
}

.inner-advantages-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.advantages-item-blok-1 {
  padding-top: 103px;
  background: url("../images/advantages/gray-stripe.svg") no-repeat top 189px center;
}

.advantages-item-blok-2 {
  padding-top: 182px;
}

.advantages-item-col-1 {
  background: url("../images/advantages/home-icon.svg") no-repeat top 80px center;
}

.advantages-item-col-2 {
  background: url("../images/advantages/hamburger-icon.svg") no-repeat top 81px center;
}

.advantages-item-col-3 {
  background: url("../images/advantages/souvenir-icon.svg") no-repeat top 78px center;
}

.advantages-item-color-1 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-color-2 {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-tittle-intro {
  margin-bottom: 62px;
  color: #FFFFFF;
}

.advantages-tittle-blok-1 {
  margin-bottom: 62px;
}

.advantages-tittle-blok-2 {
  margin-bottom: 30px;
}

.advantages-description {
  text-align: center;
  color: #333333;
}

.advantages-description-intro {
  color: #FFFFFF
}

.advantage-description {
  padding-top: 92px;
  background: url("../images/advantages/white-stripe.svg") no-repeat #82B3D3 top 178px center;
}

/* hotel-searsh */

.hotel-search {
  box-sizing: border-box;
  min-height: 406px;
  padding-top: 96px;
  background: #FFFFFF;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-paragraph {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px;
  text-align: center;
  color: #333333;
}

.hotel-search-button {
  display: block;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 50px;
  margin: 0 auto;
  background: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* sending */

.sending {
  box-sizing: border-box;
  height: 415px;
  padding-top: 96px;
}

.sending-catalog {
  padding: 96px 0 104px;
  background-color: #FFFFFF;
}

.sending-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}

.sending-paragraph {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px;
  text-align: center;
  color: #FFFFFF;
}

.sending {
  background-image: url("../images/background/sending-background.jpg");
  background-color: #FFFFFF;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sending-form {
  display: flex;
  justify-content: center;
}

.email-input {
  box-sizing: border-box;
  width: 452px;
  height: 52px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
}

.email-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.submit-input {
  box-sizing: border-box;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
  cursor: pointer;
  color: #FFFFFF;
}

/* footer */

.page-footer {
  display: flex;
  box-sizing: border-box;
  min-height: 120px;
  padding-top: 45px;
  background-color: #FFFFFF;
}

.footer-social {
  width: 300px;
  margin-right: auto;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 40px;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: #68A2CA4D;
}

.footer-address-phone {
  font-family: var(--b-family);
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-address-phone:hover,
.footer-address-phone:focus {
  color: #756157;
}

.footer-address-phone:active {
  color: #7561574D;
}


.footer-advertising {
  margin-right: 70px;
  margin-left: 236px;
}

.logo-html {
  position: relative;
  display: inline-block;
  width: 115px;
  height: 33px;
}

.footer-advertising-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.logo-html:hover .footer-advertising-icon,
.logo-html:focus .footer-advertising-icon {
  fill: #756157;
}

.logo-html:active .footer-advertising-icon {
  fill: #7561574D;
}

/* catalog.html */

.main-inner-filter {
  box-sizing: border-box;
  padding-top: 35px;
  height: 412px;
  background-image: url("../images/background/filter-background.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 70px;
  color: #FFFFFF;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  height: 21px;
  margin: 0 0 40px;
  padding: 0;
}

img {
  display: inline-block;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:first-of-type {
  display: inline-block;
  margin: auto;
  margin-left: 68px;
  margin-right: 28px;
  /* height: 21px; */
}

.breadcrumbs-item::after {
  position: absolute;
  top: 6px;
  right: -16px;
  /* bottom: 0; */
  /* left: 0; */
  content: "";
  width: 6px;
  height: 10px;
  background: url("../images/arrow.svg") no-repeat center;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  vertical-align: top;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-main-link {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 19px;
}

.breadcrumbs-home-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog-filter-group-col-1 {
  width: 150px;
  margin-right: 70px;
  margin-left: 70px;
}

.catalog-filter-group-col-2 {
  width: 150px;
  margin-right: 140px;
}

.catalog-filter-group-col-3 {
  width: 288px;
  margin-right: 70px;
}

.catalog-filter-input-price {
  box-sizing: border-box;
  border: 0;
  width: 143px;
  height: 48px;
  padding: 12px 45px 12px 20px;
  appearance: none;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  background: #F2F2F2;
}

.catalog-filter-input-price::placeholder {
  color: #000000;
  opacity: 0.6;
}

.catalog-filter-input-price::-webkit-outer-spin-button,
.catalog-filter-input-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input-price:hover {
  background: #E6E6E6;
}

.catalog-filter-input-price:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.catalog-filter-input-price:active {
  outline: 2px solid #000000;
}

.catalog-filter-input-price-col-1 {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-input-price-col-2 {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-range-label {
  position: absolute;
  top: 12px;
  left: 0;
  line-height: 24px;
  color: #0000004d;
}

.catalog-filter-input-price {
  font-weight: 700;
}

.catalog-filter-range-label-col-1 {
  left: 106px;
}

.catalog-filter-range-label-col-2 {
  left: 248px;
}

.range-scale {
  position: relative;
  height: 4px;
  background: #ffffff4d;
  margin-top: 44px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 0;
  background: #FFFFFF;
  cursor: pointer;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  gap: 2px;
}

.toggle-min {
  top: 2px;
  left: 0;
  transform: translateY(-50%);
}

.toggle-max {
  top: 2px;
  left: 206px;
  transform: translateY(-50%);
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.catalog-filter-container {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin-right: auto;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-container .button-blue {
  margin: 56px 0 32px;
  padding: 8px 50px;
}

.button-reset {
  padding: 8px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 32px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.catalog-filter-item-name {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  user-select: none;
  cursor: pointer;
}

.catalog-filter-input {
  border: 0;
}

.pseudo-checkbox {
  display: block;
  margin-right: 16px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.pseudo-checkbox::after {
  content: "";
  position: absolute;
  /* inset: 0; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../images/check-mark.svg") center left 4px no-repeat;
  /* transform: scale(0); */
  opacity: 0;
  /* transition: transform 0.2s ease, opacity 0.2s ease; */

}

.catalog-filter-input:checked ~ .pseudo-checkbox::after {
  /* transform: scale(1); */
  opacity: 1;
}

.pseudo-radio {
  display: block;
  margin-right: 16px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.pseudo-radio::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto 0 auto 5px;
  background-color: #3F5E72;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.catalog-filter-input:checked ~ .pseudo-radio::after {
  transform: scale(1);
  opacity: 1;
}

.catalog-filter-item-name:hover {
  opacity: 0.6;
}

.catalog-filter-input:focus ~ .pseudo-checkbox,
.catalog-filter-input:focus ~ .pseudo-radio {
  outline: 3px solid #83B3D3;
}

.catalog-filter-item-name:active {
  opacity: 0.3;
}

.hotel-catalog {
  padding-bottom: 60px;
  margin: 0;
  background-color: #FFFFFF;
}

.top-navigation-container {
  display: flex;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 40px;
}

.hotel-catalog-title {
  width: 338px;
  margin: 0 200px 0 70px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control-container {
  position: relative;
  width: 292px;
  height: 49px;
  margin-right: 70px;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.select-control:disabled {
  opacity: 0.3;
}

.select-control {
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  outline: 2px solid #E5E5E5;
  font-size: 18px;
  padding: 14px 32px 14px 20px;
  width: 292px;
  height: 49px;

  color: #333333;
  cursor: pointer;
  appearance: none;
}

.select-control-icon {
  pointer-events: none;
  position: absolute;
  top: 21px;
  right: 20px;
}

.view-filter-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 160px;
  margin: 0 auto 0 0;
}

.view-filter-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.view-filter-item:last-child {
  margin: 0;
}

.view-filter-button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 48px;
  height: 48px;
  text-decoration: none;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-filter-button-active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.view-filter-button:hover {
  border: 2px solid #000000;
}

.view-filter-button:focus {
  outline: 0;
  border: 2px solid #68A2CA;
}

.view-filter-button:active {
  border: 2px solid #000000;
}

.view-filter-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.product-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  margin: 0;
  padding: 0 70px;
  gap: 20px;
}

.product-card-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  padding: 20px;
  gap: 16px 20px;
}

.product-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.product-card-image {
  display: block;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  color: #000000;
}

.stars {
  display: grid;
  gap: 6px;
  grid-template: 17px/repeat(5, 18px);
  align-self: center;
}

.star-item {
  background: url("../images/star.svg") center no-repeat;
}

.services-name {
  color: #333333;
}

.services-price {
  font-weight: 400;
  color: #333333;
  justify-self: end;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 0 8px;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  grid-column: -2/-1;
}

.pagination {
  display: flex;
  margin: 80px 0 0;
  padding: 0;
  width: 400px;
  margin-left: 70px;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
}

.pagination-item:last-of-type {
  margin: 0;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.pagination-link-light {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
  background: #F2F2F2;
}

.pagination-link-blue {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
}

.pagination-link-blue:hover,
.pagination-link-blue:focus {
  background: #68A2CA;
  outline: 0;
}

.pagination-link-blue:active {
  background: #82B3D3;
  color: #FFFFFF4D;
}

.pagination-link-light:focus {
  outline: 0;
}

.pagination-link-no-background:hover {
  opacity: 0.6;
}

.pagination-link-no-background:focus {
  outline: #68A2CA 2px solid;
}

.pagination-link-no-background:active {
  opacity: 0.3;
}

.pagination-link-no-background {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.sending-title-catalog {
  color: #000000;
}

.sending-paragraph-catalog {
  color: #333333;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2cc;
  z-index: 2;
}

.modal-container-active {
  display: block;
}

.modal-search {
  position: relative;
  padding: 64px 70px;
  margin: 396px auto 0 auto;
  width: 717px;
  min-height: 576px;
  background: #FFFFFF;
  box-shadow: 0 25px 50px #00000026;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  border: 0;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  width: 52px;
  height: 52px;
  padding: 19px;
  background: #F2F2F2;
}

.modal-close-button:hover {
  background: #E6E6E6;
}

.modal-close-button:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background: #E6E6E6;
}

.modal-close-button:active .modal-close-icon {
  opacity: 0.3;
}

.modal-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 64px;
  padding-right: 55px;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.date-entrance-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.modal-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.date-exit-container {
  display: flex;
  align-items: center;
  gap: 18px;
}

.date-modal-container {
  position: relative;
}

.date-modal-container::before {
  position: absolute;
  top: 16px;
  right: 22px;
  width: 16px;
  height: 15px;
  content: '';
  background: url("../images/calendar-icon.svg") no-repeat;
  pointer-events: none;
}

.date-modal {
  box-sizing: border-box;
  padding: 12px 40px 12px 20px;
  width: 440px;
  border: 0;
  background: #F2F2F2;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
}

.date-modal::placeholder {
  color: #000000;
  opacity: 0.6;
}

.date-modal:hover {
  background: #E6E6E6;
}

.date-modal:focus-visible {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.date-modal:active {
  outline: 2px solid #000000;
}

.date-modal-warning {
  display: none;
  position: absolute;
  top: 52px;
  left: 20px;
  font-size: 16px;
  margin: 0;
}

.date-modal-warning-active {
  display: block;
}

.date-modal-warning-red {
  color: #FF5757;
}

.number-of-adults-container {
  display: flex;
  align-items: center;
  gap: 48px;
  width: 247px;
}

.number-of-people-container {
  display: flex;
  background: #F2F2F2;
  border-radius: 4px;
}

.number-of-people {
  box-sizing: border-box;
  border: 0;
  background: #F2F2F2;
  border-radius: 4px;
  width: 31px;
  padding: 14px 0;
  appearance: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
}

.number-of-people::placeholder {
  color: #000000;
  opacity: 0.6;
}

.number-of-people::-webkit-outer-spin-button,
.number-of-people::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-of-people:hover {
  background: #E6E6E6;
}

.number-of-people:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.number-of-people:active {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.number-of-people-button {
  border: 0;
  padding: 14px 10px;
  background: inherit;
  border-radius: inherit;
}

.number-of-people-button:focus {
  outline: 0;
}

.number-of-people-button-icon {
  border-radius: 4px;
  fill: rgba(117, 97, 87, 0.3);
}

.number-of-people-button:hover .number-of-people-button-icon {
  fill: #000000;
}

.number-of-people-button:focus .number-of-people-button-icon {
  outline: 3px solid #82B3D3;
  fill: #000000;
}

.number-of-people-button:active .number-of-people-button-icon {
  opacity: 0.2;
}

.number-of-children-container {
  display: flex;
  align-items: center;
  width: 242px;
  margin-left: 88px;
}

.modal-search-button {
  padding: 18px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  width: 577px;
  background: #83B3D3;
  border-radius: 10px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
}

.modal-search-button:hover,
.modal-search-button:focus,
.modal-search-button:active {
  background: #68A2CA;
  outline: 0;
}

.modal-search-button:active .modal-search-title {
  opacity: 0.3;
}

.info-container {
  display: none;
  position: absolute;
  top: 41px;
  left: 13px;
  box-sizing: border-box;
  width: 256px;
  height: 143px;
  padding: 15px 18px 18px 22px;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.302);
  border-radius: 10px;
  transform: translateX(-50%);
  opacity: 1;
  z-index: 1;
}

.info-container::after {
  box-sizing: border-box;
  position: absolute;
  width: 19px;
  height: 9px;
  inset: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background: url("../images/info-container-arrow-icon.svg") no-repeat;
  content: '';

}

.number-of-children-info {
  position: relative;
  border: 0;
  width: 26px;
  height: 26px;
  padding: 7px 12px;
  margin: 0 46px 0 10px;
  cursor: pointer;
  border-radius: 50%;
  background: #83B3D3;
}

.number-of-children-info:hover,
.number-of-children-info:focus,
.number-of-children-info:active {
  background: #68A2CA;
  outline: 0;
}

.number-of-children-info:hover .info-container,
.number-of-children-info:focus .info-container,
.number-of-children-info:active .info-container {
  display: block;
}

.number-of-children-info:active .number-of-children-info-icon {
  opacity: 0.3;
}

.info-paragraph {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  text-align: left;
  font-family: var(--b-family);
}
